@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.text__bold {
    font-weight: bold;
}
.top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.411);
        padding: 10px;
    }
    &__logo {
        width: 70px;
        height: 70px;
        &:hover {
            cursor: pointer;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__link {
        font-family: inherit;
        color: black;
        transition: 0.3s;
        &:hover {
            color: rgba(0, 0, 0, 0.411);
            text-decoration: underline;
            text-shadow: rgba(250, 192, 2, 0.918);
        }
    }
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    &__wrapper {
        width: 33vw;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.04);
    }
    &__photo {
        width: 250px;
        transition: transform 0.5s;
        &:hover {
            transform: translateX(30px) scale(1.2);
        }
    }
    &__title {
        &_big {
            font-size: 38px;
            font-style: italic;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-top: 30px;
        }
        &_smaller {
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0.03em;
            margin-top: 20px;
        }
        &_small {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.03em;
            margin-top: 20px;
        }

    }
    &__text {
        font-size: 18px;
        text-align: justify;
        margin-top: 12px;
        color: rgba(0, 0, 0, 0.753);
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__icons {
        display: flex;
        gap: 12px;
    }
    &__icon {
        width: 30px;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2);
        }
        
    }
}
.descrProject {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    &__card {
        border-radius: 30px;
        padding: 15px;
        cursor: pointer;

        &_first {
            background-image: url(img/project-1.png);
            background-size: cover;
            background-repeat: no-repeat;
            grid-column: 1/10;
            grid-row: 1/5;
            transition: transform 0.5s;
            &:hover {
                z-index: 2;
                transform: scale(1.2);
            }
        }
        &_second {
            background-image: url(img/project-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            grid-column: 2/11;
            grid-row: 4/8;
            transition: transform 0.5s;
            &:hover {
                z-index: 2;
                transform: scale(1.2);
            }
        }
        &_third {
            background-image: url(img/project-3.png);
            background-size: cover;
            background-repeat: no-repeat;
            grid-column: 3/12;
            grid-row: 7/11;
            transition: transform 0.5s;
            &:hover {
                z-index: 2;
                transform: scale(1.2);
            }
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: whitesmoke;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    &__img {
        width: 80px;
        align-items: flex-start;
        padding-top: 10px;
        
    }
}
@import 'aboutme';
@import 'skills';